@model DisastersRecovery.Models.ActiveDisasters

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ActiveDisasters</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disaster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disaster)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllocatedAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllocatedAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllocatedQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllocatedQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoodsCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoodsCategory)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DisasterCheckId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
