@model IEnumerable<DisastersRecovery.Models.ActiveDisasters>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Disaster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllocatedAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllocatedQuantity)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.GoodsCategory)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Disaster)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllocatedAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllocatedQuantity)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.GoodsCategory)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.DisasterCheckId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DisasterCheckId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DisasterCheckId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
